@media screen and (min-width: 1025px) {
    .container {
        width: 1000px;
        margin: 0 auto;
    }

    .header {
        height: 80px;
    }

    .logo {
        position: absolute;
        top: 0;
        width: 1000px;
    }

    .profile {
        position: absolute;
        width: 1000px;
        top: 0;
        text-align: right;
    }

	#footerNode{
		clear:both;
	}
}