div.mainPane{
	width:700px;
	padding:0px;
	float:left;
	margin:5px 0px;
}

#hot{
	background:url(../../images/hot.png) no-repeat;
	padding:30px 0px 0px 0px;
	background-color:#DEF1FF;
	border:1px solid #226c81;
	margin:0px;
	height:310px;
}

#latest{
	background:url(../../images/latest.png) no-repeat;
	padding:30px 0px 0px 0px;
	background-color:#DEF1FF;
	border:1px solid #226c81;
	margin:5px 0 0 0;
	height:310px;
}

div.listleft{
	float:left;
	width:304px;
	padding:0px;
	margin:2px 5px 2px 2px;
	height:310px;
}

div.listright{
	float:left;
	width:385px;
	padding:0px;
	height:310px;
}

div.listright ul{
	list-style-image:none;
	list-style-type:none;
	padding:0px;
	margin:0px;
}

div.listright ul li{
	display:block;
	float:left;
	padding:0px;
	margin:2px 2px 0 0;
}

#travel{
	background:url(../../images/travel.png) no-repeat;
	padding:30px 0px 0px 0px;
	background-color:#DEF1FF;
	border:1px solid #226c81;
	margin:5px 0px 0px 0px;
	height:120px;
}

#travel ul, #recent ul, #recommendation ul, #advisory ul{
	list-style:none;
	padding:0px 0px 5px 0px;
	margin:0px;
}

#travel ul li{
	padding:3px 0px 0px 30px;
	background:url(../../images/li.gif) no-repeat 20px 12px;
	margin:0px 0px 3px 0px;
	float:left;
	width:300px;
}

#advisory ul li{
	padding:3px 0px 0px 30px;
	background:url(../../images/li.gif) no-repeat 20px 10px;
	margin:0px 0px 5px 0px;
}

#recent ul li, #recommendation ul li{
	padding:0px;
	margin:0 0 3px 10px;
}

#travel ul li a:hover, #recent ul li a:hover, #advisory ul li a:hover, #recommendation ul li a:hover{
	color:rgba(255, 126, 0, 0.9);
	text-decoration:underline;
}

#travel ul li a:link, a:visited{
	text-decoration: none;
	color: #004E8A;
	font-size:12px;
}

#recent ul li a:link, a:visited{
	text-decoration: none;
	color: #004E8A;
	font-size:12px;
}

#advisory ul li a:link, a:visited{
	text-decoration: none;
	color: #004E8A;
	font-size:12px;
}

#recommendation ul li a:link, a:visited{
	text-decoration: none;
	color: #000;
	font-size:12px;
}

div.rightPane{
	float:right;
	width:290px;
	border:1px solid #226c81;
	color:#FEFEFE;
	font-size:12px;
	margin:5px 0px;
	padding:0px 0px 2px 0px;
}

#recent, #recommendation, #advisory{
	background-color:#DEF1FF;
	padding:1px 0px 4px 0px;
	margin:0px;
}

#recent, #recommendation{
	height:260px;
}

h3.title{
	background:url(../../images/titlebg.jpg) no-repeat;
	padding:8px 0px 0px 55px;
	height:32px;
	margin:0px;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
}