<div>
	<div>
		<a href="#" data-dojo-attach-point="actNode">
			<img class="${baseClass}Schema" src="" data-dojo-attach-point="schemaNode">
		</a>
		<div class="${baseClass}Title">${title}</div>
	</div>

	<div class="${baseClass}Content"><span>${content}</span></div>
	<div class="${baseClass}Detail">
		<img class="${baseClass}Author" src="" data-dojo-attach-point="authorNode">
		<span>${author}</span>
		<div class="${baseClass}Stat">
		<span>${browse}</span>
		<span class="${baseClass}Remain" data-dojo-attach-point="remainNode"></span>
		</div>
	</div>
</div>